h1{
    text-align: center;
}
 img{
    display:block;
    margin: auto;
 }
 button{
    border: none;
    background-color: green;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width:80px;
    height:19px;
    padding: 14px 28px;
    margin: auto;
    
 }